@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    background-color: #f1f1f1;
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
}

/* nav section */
#nav_bar {
    padding: 0vw;
    margin: 0vw;
    overflow-x: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 3px #000;
}

#header {
    padding: 1.5vw;
    box-shadow: 0 0 3px #000;
    font-size: 1.5vw;
}

#header li img {
    width: 5.9vw;
    margin-top: -20px;
    margin-left: -50px;
}

#header .active {

    position: relative;
}

#header .active::before {
    content: '';
    position: absolute;
    left: 0.5vw;
    bottom: 0vw;
    background-color: #ceb736;
    height: 0.2vw;
    box-sizing: border-box;
    width: 3.1vw;
}


#header li {
    display: inline;
    padding-left: 1.7vw;

}

#header li a {
    text-decoration: none;
    padding: 0.5vw;
    transition: 0.5s ease;
    font-size: 1.5vw;
    color: #000;
}

#header li a:hover {
    color: #ed661f;
}

#header ul #search a {
    color: #ffffff;
    font-size: 1.8vw;
    background-color: #268da3;
    border-radius: 1vw;
    float: right;
    margin-top: -0.6vw;


}

#header ul #search a:hover {
    background-color: #ceb736;
}

#header ul #movies a {
    float: left;
    font-size: 3.1vw;
    font-family: 'Oleo Script', cursive;
    top: -0.8vw;
    border-radius: 1.7vw;
    margin-top: -0.6vw;

}

#header ul #movies a:hover {
    background-color: #ffffff;
}

/* end */

/* home  section */
.sect_1 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
}

.sect_1 h2 {
    font-size: 2.9vw;

}

.sect_1 {
    font-size: 1.9vw;
    margin-top: 10px;
}

#yel {
    position: absolute;
    top: 16.3vw;
    font-size: 4.2vw;
    color: #268da3;
    font-family: 'Oleo Script', cursive;
}

#best {
    position: absolute;
    top: 28.5vw;
    font-size: 3.2vw;
    color: #268da3;
    font-family: 'Oleo Script', cursive;

}

.photo img {
    width: 100%;
    height: 50vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #fff;
    margin-top: 0.2vw;

}

/* end */

/* search section */
.search {
    height: 58vw;
    background-color: #268da3;
    margin-left: 1.1vw;
    margin-right: 1.1vw;
    border-radius: 1.1vw;
    margin-bottom: 0.2vw;
    margin-top: -3.1vw;

}

.search .title {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.3vw;
    padding-top: 1.1vw;
    font-family: 'Oleo Script', cursive;
    font-weight: 300;
    position: relative;
}

.search .title::before {
    content: '';
    position: absolute;
    left: 37vw;
    bottom: -0.1vw;
    background-color: #ceb736;
    height: 0.2vw;
    box-sizing: border-box;
    width: 17.9vw;
}

.search .title2 {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2vw;
    margin-top: -2.3vw;
    padding-bottom: 2.1vw;
}

.search-cont {
    display: flex;
    justify-content: left;

}

.form-control {
    border-radius: 1.9vw;
    width: 60vw;
    height: 2vw;
    margin-left: 13.1vw;
    padding: 1vw 1vw;
    font-size: 1.0vw;
    border: 0.3vw solid yellow;
    outline: none;
}

.form-control::placeholder {
    font-size: 1.3vw;
    color: #268da3;
}

.search-item {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
}

.search-list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 100vw;
    overflow-y: scroll;
    z-index: 10;
}

.search-list-item {
    background: #268da3;
    padding: 0.2rem;
    border-bottom: 1px solid;
    width: 30vw;
    max-height: 10vh;
    color: #fff;
    cursor: pointer;
    font-size: 1.0vw;
    transition: background-color 200ms ease;
}

.search-list-item:Hover {
    background-color: #1f1f1f;
}

.search-list-item {
    display: flex;
    justify-content: left;
    align-items: center;
}

.movie-items img {
    width: 2.96vw;
    margin-right: 1rem;
}

.movie-items-info h3 {
    font-weight: 600;
    font-size: 1rem;
}

.movie-items-info p {
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0.6;
}


.hidden-list {
    display: none;
}

.movie-poster img {
    max-width: 65vw;
    height: 34vw;
    float: left;
    margin-left: 9.5vw;

}

.movie-info {
    float: right;
    text-align: left;
    color: #fff;
    width: 50vw;
    height: 40vw;
    font-size: 1.5vw;
    margin-top: -8.6vw;
}

/* stylings */
.series {
    margin-left: 9.8vw;
    color: #24262b;
    font-size: 2.9vw;
    font-family: 'Oleo Script', cursive;
}

.describe {
    color: #24262b;
    font-size: 2.9vw;
    font-family: 'Oleo Script', cursive;
}

.movie-title {
    font-size: 2.3vw;
}

.released {
    font-weight: 700;
    max-width: 80%;
}

.writer {
    color: white;
    max-width: 80%;

}

.genre {

    max-width: 80%;
}

.plot {
    max-width: 80%;
}

.actors {
    max-width: 80%;
}


/* search end */

/* feddback section */
.feed-section {
    margin-left: 1.1vw;
    margin-right: 1.1vw;
    border-radius: 1.3vw;
}

.myimage img {
    width: 100%;
    height: 50vw;
    overflow: hidden;
    position: relative;

}

.feed-section h2 {
    font-size: 2.5vw;
    font-family: 'Oleo Script', cursive;
    position: relative;
}

.feed-section h2::before {
    content: '';
    position: absolute;
    left: 4.9vw;
    bottom: -0.4vw;
    background-color: #268da3;
    height: 0.3vw;
    box-sizing: border-box;
    width: 8.9vw;
}

.container {
    width: 35%;
    height: 55vw;
    margin-left: 15.1vw;
    border-radius: 1.3vw;
    margin-bottom: 0.2vw;
    font-size: 1.6vw;
    margin-top: -50.8vw;
    position: absolute;
    font-size: 1.3vw;
}

.content {
    padding: 0 1em 0 0;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.reactions {
    display: flex;
    justify-content: space-between;
}

.reactions p {
    margin: 0 1rem 0 0;
    font-size: 1.6vw;
}

.dislike {
    font-size: 1.3vw;
}

.like {
    font-size: 1.3vw;
}

.fa-regular {
    cursor: pointer;
    font-size: 1.6vw;
}

.fa-regular:hover {
    color: #ed661f;
}

.submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 3.5vw;
    margin-bottom: 10px;
}

.icon {
    padding: 8px;
}

.question {
    background-color: rgb(170, 170, 170, 0.12);
    padding: 0.4vw 0.4vw 0.4vw 1.1vw;
    width: 60%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.4vw;
}


.modal {
    position: fixed;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(168, 168, 163, 0.9);
}

.modal-content {
    background-color: white;
    width: 50%;
    margin: auto;
    border: 1px solid #aaaaaa;
    padding: 10px;
    border-radius: 10px;
}

.close {
    color: #aaaaaa;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}


form {
    width: 100%;
    padding: inherit;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

input {
    border: none;
    border-bottom: 1px solid black;
}

.input-group input:focus {
    outline: 0;
}

input[type="textarea"] {
    height: 4em;
}

input[type="submit"] {
    width: auto;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #ed661f;
    color: white;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

/* end */

/* about section */
.about {
    margin-left: 1.1vw;
    margin-right: 1.1vw;
    background-color: #268da3;
    border-radius: 1.1vw;
    padding: 1.4vw 1.8vw 1.0vw;
    margin-bottom: 0.2vw;
}

.about h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2.1vw;
    position: relative;
    font-family: 'Oleo Script', cursive;
    font-weight: 300;
}

.about h3::before {
    content: '';
    position: absolute;
    left: 44vw;
    bottom: -0.3vw;
    background-color: #ceb736;
    height: 0.2vw;
    box-sizing: border-box;
    width: 5.9vw;
}

.about p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 1.1vw;
    margin-right: 1.1vw;
    font-size: 1.3vw;
    width: 100%;
}

/* end */

/* footer section */
.footer {
    margin-left: 1.1vw;
    margin-right: 1.1vw;
    border-radius: 1.2vw;
    padding: 0;
    box-sizing: border-box;
    background-color: #268da3;
}

ul {
    list-style: none;

}

ul li {
    font-size: 1.3vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer_container {

    margin: auto;

}

.cont2 {
    width: 19.3vw;
    padding: 0 1.3vw;
}

.cont2 h4 {
    font-size: 2.1vw;
    margin-bottom: -0.4vw;
    color: #000;
    font-weight: 300;
    position: relative;
    right: -40px;
    font-family: 'Oleo Script', cursive;

}

.cont2 h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.3vw;
    background-color: #ceb736;
    height: 0.2vw;
    box-sizing: border-box;
    width: 5.9vw;
}

.cont2 ul li a {
    font-size: 1.3vw;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    display: block;
    transition: all 0.5s ease;

}

.cont2 ul li a:hover {
    color: #000;
    padding-left: 7px;
}

.cont2 .icon a {
    display: inline-block;
    height: 3.3vw;
    width: 3.3vw;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 1.1vw 1.1vw 0;
    text-align: center;
    line-height: 1.1vw;
    border-radius: 50%;
    color: #000;
    transition: all 0.5s ease;
}

.cont2 .icon i {
    /* color: red; */
    font-size: 1.1vw;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 1.1vw;
}

.cont2 .icon a:hover {
    color: #24262b;
    background-color: #ceb736;
}

#qual {
    font-size: 1.4vw;
}
.cont2 #agri {
    left: 0vw;
}

.rights {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Oleo Script', cursive;
    padding-bottom: 1.1vw;
    padding-top: 1.1vw;
}

.rights a {
    text-decoration: none;
}

/* footer end */